body{
    background-color: rgb(226, 226, 226);
}

.container{
    border: solid black 2px;
    background-color: white;
    height: 600px;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.header{
    border:solid black 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1140px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.header{
    border: solid black 2px;
    padding: 12px 24px;
    margin: 10px 5px;
    float: right;
}

.leftcentre{
    /* border: solid black 1px; */
    margin-top: 90px;
    margin-left: 40px;
    margin-right: 20px;   
    padding-top: 150px;
    padding-left: 200px;
    float: left;
    width: 700px;
    height: 400px;
}
p1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

p2{
    font-size: 25px;
    
    font-family: 'Times New Roman', Times, serif;
}
.rightcentre{
    /* border: solid black 1px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    float: right;
    width: 700px;
    height: 460px;
}

.imagesize{
    margin-top: 60px;
    margin-left: 250px;
    width: 300px;
    height: 300px;
}

.footer{
    border: solid black 1px;
    margin-top: 440px;
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;  
}