/* For EBB PAGE SIZE */
body,html{
    height: 100%;
}

body{
    /* background-color: rgb(128, 122, 122); */
    background-image: url(/HTML-CSS/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/* .container{
    border: solid black 2px;
    background-color: white;
    height: 100%;
    background-image: url(/HTML-CSS/bg.png);

} */

.header{
    /* border: solid black 2px; */
    padding: 12px 24px;
    margin: 10px 5px;
    float: right;
}

.a{
padding-left: 15px;
}

.leftcentre{
    /* border: solid black 1px; */
    margin-top: 250px;
    float: left;
    width: 230px;
    margin-left: 110px;
}

p{
    font-size: 25px;

    font-family: 'Times New Roman', Times, serif;
}
.rightcentre{
    /* border: solid black 1px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    float: right;
    width: 700px;
    height: 460px;
}

.contact{
    margin-top: 10px;
    margin-left: 60px;
}

.imagesize{
    margin-top: 60px;
    margin-left: 250px;
    width: 300px;
    height: 300px;
}

.video{
    padding-top: 200px;
    padding-left: 390px;
}